body{

    margin: 0;
}

h1{
    margin: 20px;
    color:orangered;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

a.readmore{

    color: teal;
    text-transform: lowercase;
    font-family: Arial, Helvetica, sans-serif;
}

a.readmore:hover{

    color: teal;
}

li{
    color: white;
}
ul{
    color: white;
}